@import "tailwindcss";

/* Custom Scrollbar for Dark Theme */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #121212;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html,
body,
#app {
    height: 100%;
    margin: 0;
    overflow: hidden;
}